
*{ 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: Roboto;
} 

body{
  background-image: url(https://cdn1.epicgames.com/ue/item/MountainVistas_Screenshot_03-1920x1080-ac463a22a6db14dc5a5ea907eb38d7c8.png?resize=1&w=1920);
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  background-attachment: fixed;
}

.form-cnt{
  display: flex;
  width: 600px; 
  height: 520px; 
  background: #ffffff; 
  box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7); 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly; 
  padding: 20px; 
  background: rgba(250, 249, 246, 0.2); /* warm off white */
  backdrop-filter: blur(10px);
}

input{
  width: 100%; 
  height: 40px; 
  border: 1px solid #000000; 
  border-radius: 5px; 
  padding: 5px; 
  font-size: 16px; 
  outline: none;
  padding-left: 10px;
}
.btn{
  width:100%; 
  height: 40px; 
  border: none; 
  border-radius: 5px; 
  background: #318CE7; 
  color: #ffffff; 
  font-size: 16px; 
  cursor: pointer; 
  outline: none; 
  
}

.item{
  display: flex; 
  position: relative;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .form-cnt {
    width: 80%;
  }
  
}

input:hover {
  transform: scale(1.01);
  border-color: rgb(64, 64, 64);
}

button:hover{
  background-color:rgb(0, 123, 255);
}

button:active{
  transform: scale(0.99);
}

.errors{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 20px;
}