body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://cdn1.epicgames.com/ue/item/MountainVistas_Screenshot_03-1920x1080-ac463a22a6db14dc5a5ea907eb38d7c8.png?resize=1&w=1920);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}



.container {
    width: 80%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    backdrop-filter: blur(10px); 
    
}



table {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: grey;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


.btn-link{
    width:100%; 
    height: 40px; 
    border: none; 
    border-radius: 5px; 
    background: #318CE7; 
    color: #ffffff; 
    font-size: 16px; 
    cursor: pointer; 
    outline: none; 
    padding-top: 50%;
    
  }