{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUEL QUOTE HISTORY</title>
    <link rel="stylesheet" href="{% static 'css/styleFuelQuoteHistory.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>

<nav class="navbar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'fuelquote' %}">Request A Quote</a></li>
      <li><a href="{% url 'quotehistory' %}">Quote History</a></li>
      <li><a href="">Profile</a></li>
      <li><a href="">Logout</a></li>
    </ul>
</nav>

<div class="container">
    <table border="1">
        <thead>
            <tr>
                <th>Quote #</th>
                <th>Gallons Requested</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Price Per Gallon</th>
                <th>Total Amount Due</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in fuel_quotes %}  
            <tr>
                <td>{{ quote.id }}</td>  
                <td>{{ quote.gallons }}</td> 
                <td>{{ quote.address }}</td>  
                <td>{{ quote.date }}</td>  
                <td>${{ quote.price }}</td>  
                <td>${{ quote.total_price }}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'fuelquote' %}" class="btn btn-primary">Back to Quote Form</a>
</div>
