{% extends 'base.html' %}

{% load static %}

{% block content %}
    <title>FUEL QUOTE HISTORY</title>
    <link rel="stylesheet" href="{% static 'css/styleFuelQuoteHistory.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">




<div class="container">
    <table border="1">
        <thead>
            <tr>
                <th>Quote #</th>
                <th>Gallons Requested</th>
                <th>Delivery Address</th>
                <th>Delivery Date</th>
                <th>Price Per Gallon</th>
                <th>Total Amount Due</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in fuel_quotes %}  
            <tr>
                <td>{{ forloop.counter }}</td>  
                <td>{{ quote.gallons }}</td> 
                <td>{{ quote.address }}</td>  
                <td>{{ quote.date }}</td>  
                <td>${{ quote.price }}</td>  
                <td>${{ quote.total_price }}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'fuelquote' %}" class="btn btn-primary">Back to Quote Form</a>
</div>
{% endblock %}