.navbar ul{
    list-style-type: none;
    background-color: hsl(182, 25%, 40%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(182, 25%, 30%);
    color: white;
}
.navbar li{
    float: left;
}