* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Roboto;
} 
  

.container {
    width: 320px; 
    height: 480px; 
    background: #fff; 
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    padding: 20px; 
    background: rgba(250, 249, 246, 0.2); /* warm off white */
    backdrop-filter: blur(10px);
    
}


input{
    width: 100%;
    height: 60px;
    padding: 10px 20 px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 25px;
    font-size: large;
    padding-left: 10px;
}


button{ 
    border-radius: 4px;
    width: 100%;
    padding: 10px 20px; 
    background-color:  #318CE7; 
    color: white; 
    border: none;  
    height: 60px; 
    font-size: large;
    position: relative;
    display: block; 
  } 

  button:hover{
    background-color: #2977c4;
  }

  .container h1{
    margin-bottom: 10px;
  }

  .registerLink{
    position: relative;
    top: -20px; 
    display: block; 
    text-decoration:none;
  
  }

  body{
    background-image: url(https://cdn1.epicgames.com/ue/item/MountainVistas_Screenshot_03-1920x1080-ac463a22a6db14dc5a5ea907eb38d7c8.png?resize=1&w=1920);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
  }

  #errorMessage,  #errorPassword{
    position: relative;
    top: -20px; 
    display: block; 
    color: red;
  }
  
  #formLogin{
    position: relative;
    display: block;
    top: -15px;
  }

  .signup-cnt {
    width: 320px; 
    height: 480px; 
    background: #fff; 
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    padding: 20px; 
    animation: increaseWidth .4s ease-in;
    animation-fill-mode: forwards;
    background: rgba(250, 249, 246, 0.2); 
    backdrop-filter: blur(10px);
    }
    @keyframes increaseWidth {
            0% {
                width: 320px;
            }
            100% {
                width: 420px;
            }
            
        }
    .login-btn {
        margin-top: 5px;
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }

    .section_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform: translate(-50%, -50%); 
      top: 20%; 
      left: 48%; 
      padding: 20px;
      width: 75%;
   
    }
    .section_1_item {
      align-items: center;
      position: relative;
      text-align: center;
    }
    .logo-cst {
      height: 180px;
      width: 270px;
      
    }

    .welcome-text {
      font-size: 30px;
      text-shadow: 1px 1px 2px gray;
    }

  