* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Roboto;
} 

body{
  background-image: url(https://cdn1.epicgames.com/ue/item/MountainVistas_Screenshot_03-1920x1080-ac463a22a6db14dc5a5ea907eb38d7c8.png?resize=1&w=1920);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
  
  }

  