<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
  <form action="{% url 'logout' %}" method="post" >
    {% csrf_token %}
    <nav class="navbar navbar-inverse nav-csm">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand mb-3" href="#">FuelVisionary</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'fuelquote' %}" class="mb-3">Request A Quote</a></li>
                <li class=""><a href="{% url 'quotehistory'%}" class="mb-3">Quote History</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <button type="submit" class="btn btn-link" style="text-decoration: none; padding: 0; border: none; background: none;">
                <span class="glyphicon glyphicon-log-out"></span>Log Out
              </button>
            </ul>
          </div>
        </div>
      </nav>
    </form>
     <style>
      
     </style>
      {% block content %}
      {% endblock %}

</body>
</html>