{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body class="">
    <div class="container"> 
        <div class="signInText">
            <h1>Welcome</h2>
            <h3>SIGN IN</h3>
        </div>

        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <div class="userInputs">
            <form id= formLogin method="post" >
                {% csrf_token %}
                <div >
                    <input type="text" id="username" placeholder=" Username" class="input" name="username">
                    <span id = errorMessage class="error"></span>
                </div>
                <div >
                    <input type="password" id="password" placeholder=" Password"  class="input" name="password">
                    <span id = errorPassword class="error"></span>
                </div>
                <a href="{% url 'register' %}" class="registerLink">Register</a>
                <button type="submit" id="submitButton">Sign In</button>
            </form >
        </div>
        
    </div>
</body>
</html>

    