{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script defer src="Registration"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <script src="{% static 'js/login.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="">
    <div class="section_1">
        <img class="section_1_item logo-cst" src="{% static 'images/Subject.png' %}" alt="logo" class="logo-cst">
        <div class="section_1_item">
            <div class="text-center" >  
            <p class="welcome-text">Welcome to FuelVisionary</p>
            {% if client_instance %}
                <p class="welcome-text">{{client_instance.fullName}}!</p>
            {% else %}
                <p class="welcome-text">Guest!</p>
            {% endif %}
            </div>
        </div>
    </div>
    
    
    
    
    
    <div class=" signup-cnt"> 
        <div class="signInText">
            <h1>Welcome</h2>
            <h3>REGISTER</h3>
        </div>

     
        <div class="userInputs">
            <form id= formLogin method="post" >
                {% csrf_token %}
                <div >
                    <input type="text" id="username" placeholder=" Username" class="input" name="username">
                    <span id = errorMessage class="error email-err"></span>
                </div>
                <div >
                    <input type="password" id="password" placeholder=" Password"  class="input" name="password">
                    <span id = errorPassword class="error"></span>
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li id="errorPassword" class="error">{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <a href="{% url 'login' %}" class="registerLink login-btn">Login</a>
                <button type="submit" id="submitButton">Register</button>
            </form >
        </div>
        
    </div>
    
</body>
</html>